.drag-n-drop-file-content {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: 2px dashed var(--cor-4);
    cursor: pointer;
}

.drag-n-drop-file-content__title-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drag-n-drop-file-content__title-zone img {
    width: 20%;
}

.drag-n-drop-file-content input {
    display: none;
}


@media screen and (min-width: 0px) and (max-width: 1000px) {
    .drag-n-drop-file-content {
        height: unset;
    }

    .drag-n-drop-file-content__title-zone img {
        width: 2rem;
    }

    .drag-n-drop-file-content__title-zone p {
        font-size: .8rem;
    }
}