:root {
    --cor-base: rgb(25, 51, 33);
    --cor-1: #2d5241;
    --cor-2: #456d64;
    --cor-3: #5e877f;
    --cor-4: #77a190;
    --cor-5: #90b4a1;
    --cor-6: #a9c9b2;
    --cor-7: #c2ddc3;
    --cor-8: #eff1f4;
}

